@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx shadcn-custom-theme primary=indigo secondary=slate accent=cyan gray=slate */
@layer base {
  :root {
    --background: 0 0% 100% /* white */;
    --foreground: 229 84% 5% /* slate-950 */;
    --card: 0 0% 100% /* white */;
    --card-foreground: 229 84% 5% /* slate-950 */;
    --popover: 0 0% 100% /* white */;
    --popover-foreground: 229 84% 5% /* slate-950 */;
    --primary: 244 76% 59% /* indigo-600 */;
    --primary-foreground: 226 100% 97% /* indigo-50 */;
    --secondary: 210 41% 97% /* slate-100 */;
    --secondary-foreground: 223 48% 12% /* slate-900 */;
    --muted: 210 41% 97% /* slate-100 */;
    --muted-foreground: 216 17% 47% /* slate-500 */;
    --accent: 186 96% 91% /* cyan-100 */;
    --accent-foreground: 197 64% 24% /* cyan-900 */;
    --destructive: 0 85% 61% /* red-500 */;
    --destructive-foreground: 211 41% 99% /* slate-50 */;
    --border: 215 32% 92% /* slate-200 */;
    --input: 215 32% 92% /* slate-200 */;
    --ring: 244 76% 59% /* indigo-600 */;
    --radius: 0.5rem;
  }

  .dark {
    --background: 229 84% 5% /* slate-950 */;
    --foreground: 211 41% 99% /* slate-50 */;
    --card: 229 84% 5% /* slate-950 */;
    --card-foreground: 211 41% 99% /* slate-50 */;
    --popover: 229 84% 5% /* slate-950 */;
    --popover-foreground: 211 41% 99% /* slate-50 */;
    --primary: 244 76% 59% /* indigo-600 */;
    --primary-foreground: 226 100% 97% /* indigo-50 */;
    --secondary: 218 33% 18% /* slate-800 */;
    --secondary-foreground: 211 41% 99% /* slate-50 */;
    --muted: 218 33% 18% /* slate-800 */;
    --muted-foreground: 216 21% 66% /* slate-400 */;
    --accent: 195 70% 28% /* cyan-800 */;
    --accent-foreground: 184 100% 97% /* cyan-50 */;
    --destructive: 0 63% 31% /* red-900 */;
    --destructive-foreground: 211 41% 99% /* slate-50 */;
    --border: 218 33% 18% /* slate-800 */;
    --input: 218 33% 18% /* slate-800 */;
    --ring: 244 76% 59% /* indigo-600 */;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  @keyframes slow-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-slow-spin {
    animation: slow-spin 3s linear infinite;
  }

  /* FIXME: Styling react-editext does not work as expected
  // https://www.npmjs.com/package/react-editext/v/3.18.0
  div[editext="button-container"] {
    display: none;
    margin: 0;
    padding: 0;
  }
  */
}
